.AdminLogin {
    width: 100%;
    display: flex; 
    flex-direction: column; 
    gap: 2em;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
    height: auto;

}

.AdminLogin h2 {
    text-align: center; 
    font-family: var(--rubik);
}


.AdminLogin form {
    width: auto;
    height: auto; 
    display: flex; 
    flex-direction: column; 
    gap: 2em;
    

    .form-group {
        display: flex; 
        flex-direction: column; 
        gap: .5em;
        position: relative;

        label, input {
            font-family: var(--rubik);
            font-weight: 400;
            
        }

        input {
            padding: .7em 2em; 
            outline: none;
            border-radius: 8px;
            border: solid 1px gray;
            width: 300px;
        }

    

        .eye-btn {
            color: dimgray; 
            position: absolute;
            top: 37.5px;
            right: 20px; 
        }

        .forgot-password {
            color: #FF698D;
            font-family: var(--rubik);
            font-size: .8em;
            position: absolute; 
            right: 10px;

        }

        
    }

    .form-group:nth-child(2) {
        input {
            padding-right: 3em;
        }
    }

    button:not(.eye-btn) {
        padding: .7em 3em;    
        background-color: #FF698D;
        font-family: var(--rubik);
        color: white;   
    } 

    .alternate-option {
        width: 100%; 
        display: flex; 
        justify-content: center;
        align-items: center; 
        position: relative; 

        p {
            font-family: var(--rubik);
            padding: .6em 2em;
            background: #F4F5F7;
            color: #999DA3;
        }
    }

    .alternate-option::before {
        width: 100%; 
        content: '';
        position: absolute; 
        z-index: -1;
        top: 50%; 
        left: 0; 
        border: solid 0.003em #d1d1d1;
    }

    .error {
        color: #FF698D;
        font-size: 0.8rem;
        font-family: var(--rubik);
      }


    .continue-with-google {
        display: flex; 
        align-items: center; 
        justify-content: center;
        gap: 1em;

        text-decoration: none; 
        color: #4B5768;
        background: #E4E7EB;
        padding: .6em;
        font-size: .9em;
        font-family: var(--rubik);
        
    }

    .form-group:nth-child(4) {
        flex-direction: row; 
        gap: 1em;
        width: 100%;
        input {
            padding: 8px;
        }
        label {
            font-size: .9em;
            font-weight: 300;
        }
        
    }

}

/* Hide the default checkbox */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px !important;
    height: 16px;
    cursor: pointer;
    border-radius: 3px !important;
    position: relative;
  }
  
  
  /* Style the checkbox when checked */
  input[type="checkbox"]:checked {
    border: 1px solid #FF698D !important;

    background-color: #FF698D;
    border-color: #FF698D;
  }
  
  input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  